html,
body {
	min-height: 100vh;
}

h1,
body {
	margin: 0;
}

.calculatorContainer,
.buttonContainer,
.display,
body {
	display: flex;
	justify-content: space-between;
}

.calculatorContainer {
	width: 50vw;
	height: 75vh;
}

body,
.calculatorContainer {
	flex-direction: column;
}

.display,
.buttonContainer {
	flex-wrap: wrap;
}

.buttonContainer * {
	width: 10vw;
}

.display {
	height: 15vh;
}

.buttonContainer {
	height: 60vh;
}

body {
	align-items: center;
}