@font-face {
	font-family: ArchitectsDaughter;
	src: url(ArchitectsDaughter.ttf);
}

html,
body {
	min-height: 92vh;
}

h1 {
	margin: 0;
	font-family: "ArchitectsDaughter";
	font-size: 5vh;
}

body {
	margin: 4vh 0;
	align-items: center;
}

.calculatorContainer,
.buttonContainer,
.display,
body {
	display: flex;
	justify-content: space-between;
}

.calculatorContainer {
	width: 50vw;
	height: 75vh;
}

body,
.calculatorContainer {
	flex-direction: column;
}

.display,
.buttonContainer {
	flex-wrap: wrap;
}

.buttonContainer * {
	width: 10vw;
}

.display {
	height: 15vh;
}

.buttonContainer {
	height: 60vh;
}